@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*
  --color-bg1: rgb(255, 255, 255);
  --color-bg2: rgb(255, 255, 255);
  --color1: 77, 77, 77;
  --color2: 54, 54, 54;
  --color3: 28, 28, 28;
  --color4: 17, 17, 17;
  --color5: 5, 5, 5;
  --circle-size: 20%;
  --blending: hard-light;
  */
  --color-a: #ffffff;
  --color-b: #848484;
  --color-c: #ffffff;
  --color-d: #FF9A00;

}

html{
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

body {
  color: #1A1A1A;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: white;
  border-color: #3b3b3b;
  user-select: none;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

.title-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1480px;
}



.experience-img{
  width: 100%;
  margin-bottom: 1rem;
  break-inside: avoid;
}

.experience-class{
  /*column-count: 3;*/
  columns: 300px;
  column-gap: 2rem;
  
}

.link{
  color: #FF9A00;
  font-weight: 500;
}

#linkUnderline{
  background-color: #FF9A00;
  height: 0.16rem;
}

.i_fade{
  opacity: 0;
}

.text_light{
  color: #FF9A00;
}

@media only screen and (max-width: 640px) {

}

.noise {
  /* ... */
  width: 100%;
  height: 100%;
  background:
    url('./utils/Noise.svg');
  filter: contrast(180%) brightness(1500%);
  mix-blend-mode: screen;
}

/*
.gradient-bg{
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: visible;
  background: linear-gradient(48deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;
}

svg{
  display: none;
}

.gradients-container{
  opacity: 0.15;
  filter: url(#goo) blur(10px);
  overflow: visible;
  width: 100%;
  height: 100%;
}

.g1{
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color1),0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(54% - var(--circle-size) / 2);

  transform-origin: center center;
  animation: moveVertical 30s ease infinite;

  opacity: 1;
}


.g2{
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color2),0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(40% - var(--circle-size) / 2);
  left: calc(40% - var(--circle-size) / 2);

  transform-origin: calc(50% + 80px);
  animation: moveInCircle 20s linear infinite;

  opacity: 1;
}



.g3{
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color3),0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: calc(50% + 40px);
  animation: moveInCircle 40s linear infinite;

  opacity: 1;
}


.g4{
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color4),0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: center center;
  animation: moveHorizontal 40s ease infinite;

  opacity: 0.7;
}



.g5{
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color5),0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));

  transform-origin: calc(50% - 80px) calc(50% + 20px);
  animation: moveInCircle 20s ease infinite;

  opacity: 1;
}*/

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50%{
    transform: translateY(50%);
  }
  100%{
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50%{
    transform: translateX(50%) translateY(10%);
  }
  100%{
    transform: translateX(-50%) translateY(-10%);
  }
}

.img-exp{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}

.glass-view{
  background: rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.expert-class {
  @apply md:w-8 w-6 mx-1 opacity-60
}

.tech-used {
  @apply w-6 mx-1 opacity-60
} 

.footer-img-used {
  @apply w-5 opacity-60
} 

.common-padding {
  @apply py-10 md:py-20 sm:px-10 px-5
}

.experience-div {
  color: #000;
  @apply flex md:flex-row flex-col gap-2 md:gap-5 mb-10 max-w-[90vw] md:max-w-[65vw] xl:max-w-[50vw] 2xl:max-w-[40vw] p-5 justify-between border-2 border-solid border-transparent rounded-2xl
}

.experience-block{
  @apply w-[100%] md:w-[80%]
}

/*
.experience-div:hover {
  color: #FF9A00;
  @apply flex flex-row gap-5 mb-10 max-w-[40vw] p-5 justify-between border-2 border-solid rounded-2xl shadow-xl
}
*/

.experience-tags {
  background: #FF9A00;
  border-radius: 9999px;
  font-weight: 500;
  @apply py-1 px-3
}